doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		.navbar
			a.nav(href="/") Home
			a.nav(href="/bulletin") Make a Bullet
			a.nav(href="/bullets") Show all Bullets



block content
