body {
  padding: 50px;
  font: 14px Courier;
}

a {
  color: white;

}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 60px;
	background-color: grey;
	align-items: center;
	position: absolute;
	left: 0px;
	top: 0px;

}

a.nav {
	padding: 20px;

}

span.title {
	font: 12px Courier;
}

.submit {
	margin: 5px 5px;
}

textarea {
	margin: 10px ;
}